<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="Maintenance" value="false" />
    </appSettings>
    <connectionStrings>
        <add name="MySqlConnection" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;User Id=accessor;Host=localhost;Password=TODO;Persist Security Info=True;Database=clubbybook.com;Character Set=utf8;Pooling=true;Connect Timeout=180;&quot;" />
        <add name="SimpleMySqlConnection" connectionString="User Id=accessor;Host=localhost;Password=TODO;Persist Security Info=True;Database=clubbybook.com;Character Set=utf8;Pooling=false;Connect Timeout=180;" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <clear />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
            <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
            <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
            <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
        </DbProviderFactories>
    </system.data>
    <system.net>
        <mailSettings>
            <smtp from="admin@clubbybook.com" deliveryMethod="Network">
                <network defaultCredentials="false"
                         enableSsl="false"
                         host="mail.pingvinius.com"
                         port="25"
                         userName="admin@clubbybook.com"
                         password="TODO" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpPost" />
            </protocols>
        </webServices>
        <compilation debug="false" targetFramework="4.0" defaultLanguage="c#">
            <assemblies>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <pages controlRenderingCompatibilityVersion="3.5"
               clientIDMode="AutoID"
               enableViewState="true"
               enableEventValidation="true" />
        <caching>
            <outputCache enableOutputCache="false" />
        </caching>
        <siteMap enabled="true" defaultProvider="ClubbyBookSiteMapProvider">
            <providers>
                <clear />
                <add name="ClubbyBookSiteMapProvider" type="ClubbyBook.Web.SiteMap.ClubbyBookSiteMapProvider" />
            </providers>
        </siteMap>
        <customErrors mode="Off" />
        <identity impersonate="true" />
        <authentication mode="Forms">
            <forms loginUrl="~/login/"
                   protection="All"
                   defaultUrl="~/"
                   path="/"
                   requireSSL="false"
                   timeout="20"
                   domain=".clubbybook.com"
                   name=".ClUBBYBOOKASPXAUTH"
                   cookieless="UseDeviceProfile"
                   enableCrossAppRedirects="false"
                   slidingExpiration="true" />
        </authentication>
        <authorization>
            <deny users="*" />
        </authorization>
        <httpModules>
            <add name="NonWWWRedirectModule" type="ClubbyBook.Web.Modules.NonWWWRedirectModule" />
            <add name="UrlRewriter" type="ClubbyBook.Web.Modules.UrlRewriter" />
        </httpModules>
        <httpHandlers>
            <remove verb="*" path="*.asmx" />
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </httpHandlers>
        <globalization fileEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
        <machineKey validationKey="1D8BD5060EA2AB1CBFC5DF7636DECF6C8655E8A4D4A6F7B11E18C74F0257F868085AA98B3A69D07C1D4E26FAD5648122B04F13714BFD93754BA1B541482C2668"
                decryptionKey="EFABA78A9F41BDB206B85E31D0F9F4FFD4B6C7A784BC8D0586635678ADFC23D6"
                validation="SHA1"
                decryption="AES" />
    </system.web>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="2147483647" />
            </webServices>
        </scripting>
    </system.web.extensions>
    <system.serviceModel>
        <services>
            <service name="ClubbyBook.Services.General.GeneralService">
                <endpoint address="" binding="wsHttpBinding" contract="ClubbyBook.Services.General.IGeneralService">
                    <identity>
                        <dns value="clubbybook.com" />
                    </identity>
                </endpoint>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="False" />
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ServiceModel" />
            <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
            <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
            <add name="NonWWWRedirectModule" type="ClubbyBook.Web.Modules.NonWWWRedirectModule" />
            <add name="UrlRewriter" type="ClubbyBook.Web.Modules.UrlRewriter" />
        </modules>
        <handlers>
            <remove name="svc-Integrated" />
            <remove name="xoml-Integrated" />
            <add name="*.vbhtml_*" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.vbhtm_*" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.cshtml_*" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.cshtm_*" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.aspq_*" path="*.aspq" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.xamlx_*" path="*.xamlx" verb="*" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="eurl.axd_*" path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv2.0" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <location path="Styles">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Scripts">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Images">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="favicon.ico">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="robots.txt">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="sitemap.xml">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Common">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Services">
        <system.web>
            <authorization>
                <allow users="*" verbs="POST" />
            </authorization>
        </system.web>
    </location>
    <location path="Temp">
        <system.web>
            <authorization>
                <allow roles="Account, Editor, Admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Account">
        <system.web>
            <authorization>
                <allow roles="Account, Editor, Admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Editor">
        <system.web>
            <authorization>
                <allow roles="Editor, Admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Admin">
        <system.web>
            <authorization>
                <allow roles="Admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>
